{% extends 'navbar.html' %}


{% block content %}
<h2 align="center" style="color:green"><u>Add Student Data</u></h2>

<form action="readdata" method="post">
    {% csrf_token %}
    <h3 style="color:red">{{ data }}</h3>
  <table align="center" style="color:black">
    <tr>
      <td>Name      :</td>
      <td><input type="text" name="txtusername"></td>
    </tr>
      <tr>
      <td>Age     :</td>
      <td><input type="number" name="numage"></td>
    </tr>
        <tr>
      <td>Phone :</td>
      <td><input type="number" name="numphn"></td>
    </tr>
      <tr>
          <td>City :</td>
          <td><select name="ddlcity">
               {% for i in City_Data %}
                 <option>{{ i.City_Name }}</option>

               {% endfor %}
          </select></td>
      </tr>
      <tr>
          <td>Course :</td>
          <td><select name="ddlcourse">
            {% for i in Course_Data %}
                 <option>{{ i.Course_Name }}</option>

               {% endfor %}
          </select> </td>
      </tr>
      <tr>
          <td>
              <input type="submit" name="btnsub" value="Add Student">
          </td>
      </tr>
  </table>
</form>

{% endblock %}