<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 align="center"><u>Registration Page</u></h3>
<form action="regdata" method="post">
    {% csrf_token %}
    <h3 style="color:red">{{ data }}</h3>
  <table align="center">
    <tr>
      <td>UserName      :</td>
      <td><input type="text" name="txtusername"></td>
    </tr>
      <tr>
      <td>UserEmail     :</td>
      <td><input type="text" name="txtuseremail"></td>
    </tr>
        <tr>
      <td>UserPassword :</td>
      <td><input type="password" name="pwdpass"></td>
    </tr>
      <tr>
          <td>
              <input type="submit" name="btnsub" value="Register">
          </td>
      </tr>
  </table>
</form>

</body>
</html>